<div class="form">
  <h2>Login as a user</h2>
  <form [formGroup]="form" (ngSubmit)="emitCredential()">
    <div>
      <label>
        Email : <input type="text" formControlName="email" class="fields">
      </label>
      <div *ngIf="controls('email')?.dirty && controls('email')?.invalid" class="warning">
        This information is required!
      </div>
    </div>
    <div>
      <label>
        Password : <input type="password" formControlName="password" class="fields">
      </label>
      <div *ngIf="controls('password')?.dirty && controls('password')?.invalid" class="warning">
        This information is required!
      </div>
    </div> <br/>
    <input type="submit" [disabled]="form.invalid" value="Login" class="btn">
  </form>
</div>

