<form [formGroup]="form" (ngSubmit)="emitEmployee()" class="form">
  <h3>Register a new employee</h3>
  <div>
    <input type="text" formControlName="surname" class="fields" placeholder="Surname">
    <div *ngIf="controls('surname')?.dirty && controls('surname')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="text" formControlName="lastname" class="fields" placeholder="Lastname">
    <div *ngIf="controls('lastname')?.dirty && controls('lastname')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="text" formControlName="email" class="fields" placeholder="Email">
    <div *ngIf="controls('email')?.dirty && controls('email')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="number" formControlName="age" class="fields" placeholder="Age">
    <div *ngIf="controls('age')?.dirty && controls('age')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="password" formControlName="password" class="fields" placeholder="Password">
    <div *ngIf="controls('password')?.dirty && controls('password')?.invalid" class="warning">
      This information is required!
    </div>
  </div> <br/>
  <input type="submit" [disabled]="form.invalid" value="Register" class="btn">
</form>
