.fields
{
  font-size: 100%;
  width: 10%;
  margin-top: 0.5%;
}
.btn
{
  text-align: left;
  font-size: 100%;
  margin-top: 0.5%;
  width: 6%;
}
.list
{
  text-align: center;
}
.tblMain {
  margin-left: auto;
  margin-right: auto;
}
.tblSecondary {
  width: 100%;
}
table, th, td {
  text-align: center;
  min-width: 80px;
}
th {
  background-color: #009879;
  color: #ffffff;
}

.tileMain {
  border: 2px solid #008869;
}
.tileSecondary {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#btnBackToList {
  margin-left: 25%;
  margin-bottom: 2%;
  font-size: 80%;
  width: 8%;
  background-color: #007a7a;
  border-radius: 15px;
}
