<div class="list">
  <div *ngIf="articles.length; else articleListEmpty">
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
      <tr *ngFor="let article of articles;let i = index">
        <td>{{article.nametag}}</td>
        <td>{{article.price}}</td>
        <td>{{article.stock}}</td>
        <td>
          <input type="number" name="quantity" [(ngModel)]="quantity[i]">
        </td>
        <td>
          <button (click)="addToCart(article,quantity[i])">
            Add to cart
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!-- Will be displayed if article list is empty-->
  <ng-template #articleListEmpty>
    <p>There is no article.</p>
  </ng-template>
</div>

