<div class="list">
  <div *ngIf="articles.length; else articleListEmpty">
    <div *ngFor="let article of articles;let i = index" class="container-article">
      <div class="image-article">
        <img src="{{article.imagePath}}">
      </div>
      <div class="content-article" *ngIf="article.pricingType==0;else pricingtype">
        {{article.brand.name}}
        <br>
        {{article.nametag}}
        <br>
        {{article.price}}€ /kg

      </div>
      <ng-template #pricingtype>
        {{article.brand.name}}
        <br>
        {{article.nametag}}
        <br>
        {{article.price}}€/u
      </ng-template>
      <div class="add-to-cart">
        <span class="material-symbols-outlined">
          remove
        </span>
        <input type="number" name="quantity" [(ngModel)]="quantity[i]">
        <span class="material-symbols-outlined">
          add
        </span>
        <br>
        <button (click)="addToCart(article,quantity[i])">
          Add to cart
        </button>
      </div>
    </div>

  </div>

  <!-- Will be displayed if article list is empty-->
  <ng-template #articleListEmpty>
    <p>There is no article.</p>
  </ng-template>

</div>
