.adminBanner
{
  margin-top: 3%;
  text-align: center;
}
.adminWindows
{
  margin-top: 2%;
  text-align: left;
  margin-left: 30%;
  font-size: 200%;
}
#add
{
  font-size: 140%;
  margin-right: 1%;
  margin-top: 0.5%;
  background-color: slategray;
}
#lis
{
  font-size: 140%;
  margin-right: 1%;
  margin-top: 0.5%;
  background-color: slategray;
}
