.adminBanner
{
  margin-top: 10%;
  text-align: center;
}
#empBanner
{
  margin-top: 1%;
  text-align: center;
}
#artBanner
{
  margin-top: 1%;
  text-align: center;
}
.adminWindows
{
  margin-top: 2%;
  font-size: 200%;
}
.btnAdm
{
  font-size: 160%;
  margin-right: 1%;
  margin-top: 0.5%;
  background-color: #007a7a;
  border-radius: 15px;
  width: 15%;
}
