<div class="adminBanner">
  <button
    (click)="clickAdd()" id="add">
    Ajouter un employé</button>

  <button
    (click)="clickList()" id="lis">
    Lister tout les employés</button>
</div>

<div class="adminWindows">
  <div [hidden]="!addClick">
    <h4>Add a new employees</h4>
    <app-employee-create (employeeCreated)="createEmployee($event)"></app-employee-create>
  </div>

  <div [hidden]="!listClick">
    <h4>List of employees</h4>
    <app-employee-list [employees]="employees"
                       (deletedEmployee)="deleteEmployee($event)"></app-employee-list>
  </div>
</div>
