<div class="familyList" >
  <label>Families list</label>
  <div *ngFor="let family of families" (click)="familyClicked(family)">
    <div class="familyListElement">
      {{family.familyName}}
    </div>
    <div *ngIf="familySelectedId == family.id" >
      <div *ngFor="let article of articlesInFamily" class="articleOfFamily">
        {{article.nametag}}
      </div>
    </div>
  </div>
  <div *ngIf="!isAdding; else addPressed">
    <button class="addButton" (click)="isAdding=true">+</button>
  </div>
</div>

<ng-template #addPressed>
  <div class="addForm">
    <form [formGroup]="form" (ngSubmit)="emitFamilyCreated()">
      <input class="addField" type="text" placeholder="family's name" formControlName="familyName">
      <input type="submit" value="+" class="addFormButton" [disabled]="form.invalid">
    </form>
  </div>
</ng-template>
