.clickable{
  cursor: pointer;
}

.editable{
  cursor: text;
}

.familyList{
  border: 2px solid black;
  border-radius: 5px;
  height: auto;
  text-align: center;
  float: right;
  width: 25%;
  margin-right: 4%;
}
.familyListElement{
  border: 1px solid black;
  border-radius: 5px;
  width: available;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}

.deleteFamily{
  float: right;
  margin-right: 10px;
}

.articleOfFamily{
  cursor: default;
  text-align: right;
  margin-right: 10px;
  font-size: 0.7em;
}

.addButton{
  width: 100%;
}

.addForm{
  width: available;
}

.addField{
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
}

.addFormButton{
  width: 10%;
}

.updateForm{
  width: available;
}

.updateField{
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}

.updateFormButton{
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}
