<div class="familyList" >
  <label>Families list</label>
  <div *ngFor="let family of families" (drop)="drop($event)" (dragover)="dragover($event)">
    <div *ngIf="familyUpdatedId != family.id; else updateFamily" class="familyListElement clickable"
         (click)="familyClicked(family); isAdding=false" >
      <span class="editable" (dblclick)="familyDblClicked(family)">
        {{family.familyName}}
      </span>
      <span class="deleteFamily" (click)="emitFamilyDeleted(family)">x</span>
    </div>
    <div *ngIf="familySelectedId == family.id" >
      <div *ngIf="articlesInFamily.length > 0; else articlesOfFamilyEmpty">
        <div *ngFor="let article of articlesInFamily" class="articleOfFamily">
          {{article.nametag}}
          <span class="clickable" (click)="emitArticleFromFamilyRemoved(article)">| x</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isAdding; else createFamily">
    <button class="addButton" (click)="isAdding=true; familySelectedId=0">+</button>
  </div>
</div>

<!-- if "+" button is pressed -->
<ng-template #createFamily>
    <form class="addForm" [formGroup]="createForm" (ngSubmit)="emitFamilyCreated()">
      <input class="addField" type="text" placeholder="family's name" formControlName="familyName">
      <input type="submit" value="+" class="addFormButton" [disabled]="createForm.invalid">
    </form>
</ng-template>

<!-- articles list of the family is empty -->
<ng-template #articlesOfFamilyEmpty>
  <div class="articleOfFamily">
    There isn't any article in this family
  </div>
</ng-template>

<!-- family double-clicked -->
<ng-template #updateFamily>
  <form class="updateForm" [formGroup]="updateForm" (ngSubmit)="emitFamilyUpdated()">
    <input class="updateField" type="text" placeholder="family's name" formControlName="familyName">
    <input type="submit" value="Confirm" class="updateFormButton" [disabled]="updateForm.invalid">
  </form>
</ng-template>
