.familyList{
  border: 2px solid black;
  border-radius: 5px;
  width: 20%;
  height: auto;
  text-align: center;
  float: right;
}
.familyListElement{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: available;
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
}

.deleteFamily{
  float: right;
  margin-right: 10px;
}

.articleOfFamily{
  text-align: right;
  margin-right: 10px;
  font-size: medium;
}

.addButton{
  width: 100%;
}

.addForm{
  width: available;
}

.addField{
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
}

.addFormButton{
  width: 10%;
}
