<div class="divnavbar">
  <nav class="navbar">
    <div  (click)="clickLogo()" class="brand-title">
      <div  class="logo">
        <img src="assets/Logo_1.png" id="base">
        <img src="assets/Logo_2.png" id="dash">
      </div>
      <div class="title">
        <img src="assets/title.png" id="title_img">
      </div>
    </div>
    <div class="center-links">
      <input type="text" placeholder="Which article are you looking for?">
    </div>

    <div class="dropdown">
      <button class="dropbtn" (click)="showDropdown(content)">Log In</button>
      <div class="dropdown-content" #content style="display: none;">

        <app-user-create (clientCreated)="createClient($event)" [hidden]="!RegisterActive"></app-user-create>


        <app-user-login (userLog)="login($event)" [hidden]="!LoginActive"></app-user-login>

        <a href="#">Scan Qr Code</a>
        <div *ngIf="RegisterActive;else logActive">
          <a (click)="clickLogin()" [hidden]="RegisterActive">Log in</a>
        </div>
        <ng-template #logActive><a (click)="clickRegister()" [hidden]="LoginActive">Register</a></ng-template>


      </div>
    </div>
  </nav>
</div>
<app-menubar-hub></app-menubar-hub>
<div class="container">
<app-article-hub></app-article-hub>
</div>
