<div class="divnavbar">
  <nav class="navbar">
    <div routerLink="" (click)="showArticles()" class="brand-title">
      <div  class="logo">
        <img src="assets/logo/Logo_1.png" id="base">
        <img src="assets/logo/Logo_2.png" id="dash">
      </div>
      <div class="title">
        <img src="../../assets/logo/title.png" id="title_img">
      </div>
    </div>
    <div class="center-links">
      <input type="text" placeholder="Which article are you looking for?" [(ngModel)]="nametagToSearch" (ngModelChange)="changeFilter(nametagToSearch)">
    </div>

    <div *ngIf="username==''; else isLogged">
      <div class="dropdown" >
        <button class="dropbtn" (click)="showDropdown(content)">Log In</button>
        <div class="dropdown-content" #content style="display: none;">

          <app-user-create (clientCreated)="createClient($event)" [hidden]="!RegisterActive"></app-user-create>


          <app-user-login (userLog)="login($event)" [hidden]="!LoginActive"></app-user-login>

          <a href="#">Scan Qr Code</a>
          <div *ngIf="RegisterActive;else logActive">
            <a (click)="clickLogin()" [hidden]="RegisterActive">Log in</a>
          </div>
          <ng-template #logActive><a (click)="clickRegister()" [hidden]="LoginActive">Register</a></ng-template>


        </div>
      </div>
    </div>
  </nav>
</div>
<app-menubar-hub></app-menubar-hub>

<ng-template #isLogged>
  <div class="dropdown" >
    <button class="dropbtn" (click)="showDropdownLogged(Loggedcontent)">{{username}}</button>
    <div class="dropdown-content" #Loggedcontent style="display: none;">
      <a routerLink="user-order-history">History Order</a>
      <a (click)="logout()">LogOut</a>
    </div>
  </div>
</ng-template>
