<input type="submit" value="Back" class="btnBackToList" routerLink="../articleList">

<form [formGroup]="form" (ngSubmit)="emitUpdate()" class="form">
  <div>
    <input type="text" class="fieldsHeader" value="Name tag" readonly [disabled]="true">
    <input type="text" formControlName="nameTag" class="fields" placeholder="name tag">
    <div *ngIf="controls('nameTag')?.dirty && controls('nameTag')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="text" class="fieldsHeader" value="Price" readonly [disabled]="true">
    <input type="text" formControlName="price" class="fields" placeholder="price">
    <div *ngIf="controls('price')?.dirty && controls('price')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="text" class="fieldsHeader" value="Pricing type" readonly [disabled]="true">
    <select class="list">
      <option (select)="setPricingTypeUnit()" [selected]="idPricingTypeToUpdate == 1">Per unit</option>
      <option (select)="setPricingTypeWeight()" [selected]="idPricingTypeToUpdate == 0">Per weight</option>
    </select>
  </div>
  <div>
    <input type="text" class="fieldsHeader" value="Stock" readonly [disabled]="true">
    <input type="text" formControlName="stock" class="fields" placeholder="number of article in stock">
    <div *ngIf="controls('stock')?.dirty && controls('stock')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <div>
    <input type="text" class="fieldsHeader" value="Category" readonly [disabled]="true">
    <select class="list" (change)="setIdCategory($event)">
      <option *ngFor="let cate of listOfCategories" [value]="cate.id" [selected]="cate.id==idCategoryToUpdate">{{cate.name}}</option>
    </select>
  </div>
  <div>
    <input type="text" class="fieldsHeader" value="Brand" readonly [disabled]="true">
    <select class="list" (change)="setIdBrand($event)">
      <option *ngFor="let bran of listOfBrands" [value]="bran.id" [selected]="bran.id==idBrandToUpdate">{{bran.name}}</option>
    </select>
  </div> <br/>
  <input type="submit" [disabled]="form.invalid" value="Modify" class="btn">
  <h3 [hidden]="!updated" id="validation">Article updated with success</h3>
</form>

<app-article-list-of-families [id]="id"></app-article-list-of-families>
