.form
{
  text-align: center;
  float: left;
  margin-top: 2%;
}
.fieldsHeader
{
  font-size: 100%;
  width: 20%;
  margin-top: 0.5%;
  background-color: #007a7a;
  color: #f1f1f1;
}
.fields
{
  font-size: 100%;
  width: 60%;
  margin-top: 0.5%;
}
.list
{
  font-size: 100%;
  width: 60.5%;
  margin-top: 0.5%;
}
.btn
{
  margin-left: 60%;
  text-align: center;
  font-size: 100%;
  width: 15%;
}
.btnBackToList
{
  float: left;
  margin-left: 12%;
  font-size: 80%;
  width: 6%;
}
.warning
{
  color: red;
}
#validation
{
  color: forestgreen;
}
