.ban
{
  text-align: right;
  background-color: darkslategrey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 94%;
  border-bottom: black;
  border-bottom-style: solid;
}
.title
{
  text-align: left;
  font-size: 250%;
  display: inline;
  position: absolute;
  top: 0;
  left: 1%;
  right: 0;
  bottom: 94%;
  margin-top: 0.2%;
  color: darkturquoise;
}
#admin
{
  font-size: 150%;
  margin-right: 10%;
  margin-top: 0.5%;
  background-color: yellow;
}
#reg
{
  font-size: 150%;
  margin-right: 1%;
  margin-top: 0.5%;
  background-color: dodgerblue;
}
#log
{
  font-size: 150%;
  margin-right: 1%;
  margin-top: 0.5%;
  background-color: dodgerblue;
}
.form
{
  margin-top: 5%;
  text-align: center;
}
.txtlink
{
  text-align: left;
  margin-left: 35%;
  font-size: 200%;
}
.link
{
  color: #0000EE;
  text-decoration-line: underline;
  cursor: pointer;
}
