<div class="ban">
  <div class="logo">
    <img src="assets/Logo_1.png" id="base" (click)="clickLogo()">
    <img src="assets/Logo_2.png" id="dash" (click)="clickLogo()">
  </div>
  <h2 (click)="clickLogo()" class="title">Take And Dash</h2>

  <button
    (click)="clickArticle()" id="article">
    Articles</button>

  <button
    (click)="clickAdmin()" id="admin">
    Administration</button>

  <button
    (click)="clickRegister()" id="reg">
    Register</button>

  <button
    (click)="clickLogin()" id="log">
    Login</button>
</div>

<div class="form">
  <app-user-create (clientCreated)="createClient($event)" [hidden]="!RegisterActive"></app-user-create>
  <p [hidden]="!RegisterActive" class="txtlink">Already registered ? <a (click)="clickLogin()" [hidden]="!RegisterActive" class="link">Login here</a></p>

  <app-user-login (userLog)="login($event)" [hidden]="!LoginActive"></app-user-login>
  <p [hidden]="!LoginActive" class="txtlink">Not yet registered ? <a (click)="clickRegister()" [hidden]="!LoginActive" class="link">Register here</a></p>
</div>

<app-admin-hub [hidden]="!AdminActive"></app-admin-hub>

<app-article-hub [hidden]="!ArticleActive"></app-article-hub>
