
<div class="menubar">
<!--      <div class="dropdown-content-category" #category_content>-->
<!--        <app-category-hub></app-category-hub>-->
<!--      </div>-->
  <div>
    <ul>
      <li><a routerLink="order">Orders</a></li>
      <li><a>Manage articles</a></li>
      <li><a>Manage employees</a></li>
    </ul>
  </div>

  <div class="dropdown-order">
    <button class="material-symbols-outlined shoppingcart dropbtn-cart" (click)="showDropdownShoppingCart(cart_content)">
      shopping_cart
    </button>
    <div class="dropdown-content-cart" #cart_content style="display: none;">
      <app-shopping-cart-hub></app-shopping-cart-hub>
    </div>
  </div>

</div>
