
<div class="menubar">
<!--      <div class="dropdown-content-category" #category_content>-->
<!--        <app-category-hub></app-category-hub>-->
<!--      </div>-->
  <ul *ngIf="!inOrderHub;else orderNavBar">
    <li *ngIf="isClient"><a routerLink="order/orderUser">My orders</a></li>
    <li *ngIf="isEmployee"><a routerLink="order/orderToday" (click)="inOrderHub = true">Orders</a></li>
    <li *ngIf="isAdmin"><a routerLink="admin/articleList">Manage articles</a></li>
    <li *ngIf="isAdmin"><a routerLink="admin/employeeList">Manage employees</a></li>
  </ul>

  <div class="dropdown-order">
    <button class="material-symbols-outlined shoppingcart dropbtn-cart" (click)="showDropdownShoppingCart(cart_content)">
      shopping_cart
    </button>
    <div class="dropdown-content-cart" #cart_content style="display: none;">
      <app-shopping-cart-hub></app-shopping-cart-hub>
    </div>
  </div>

</div>

<ng-template #orderNavBar>
  <div>
    <ul>
      <li><a routerLink="order/orderFiltered">Filter orders</a></li>
      <li><a routerLink="order/orderToday">Today's orders</a></li>
    </ul>
  </div>
</ng-template>
