<div class="menubar">
  <div class="left-menu">
    <div id="category">
      <button class="dropbtn-category" (click)="showDropdownCategory(category_content)">Category</button>
      <div class="dropdown-content-category" #category_content style="display: none;">
        <app-category-hub></app-category-hub>
      </div>
    </div>
  </div>


  <div class="dropdown-order">
    <button class="material-symbols-outlined shoppingcart dropbtn-cart" (click)="showDropdownShoppingCart(cart_content)">
      shopping_cart
    </button>
    <div class="dropdown-content-cart" #cart_content style="display: none;">
      <app-shopping-cart-hub></app-shopping-cart-hub>
    </div>
  </div>

</div>
