.menubar{
  display: flex;
  position: fixed;
  background-color: darkorange;
  top:80px;
  left: 0;
  right:0;
  height: 20px;
}
.right{
  position: relative;
  display: inline-block;
  margin-right: 40px;
}
