<div class="form">
  <h2>Register as a user</h2>
  <form [formGroup]="form" (ngSubmit)="emitUser()">
    <div>
      <label>
        Surname : <input type="text" formControlName="surname" class="fields">
      </label>
      <div *ngIf="controls('surname')?.dirty && controls('surname')?.invalid" class="warning">
        This information is required!
      </div>
    </div>
    <div>
      <label>
        Lastname : <input type="text" formControlName="lastname" class="fields">
      </label>
      <div *ngIf="controls('lastname')?.dirty && controls('lastname')?.invalid" class="warning">
        This information is required!
      </div>
    </div>
    <div>
      <label>
        Email : <input type="text" formControlName="email" class="fields">
      </label>
      <div *ngIf="controls('email')?.dirty && controls('email')?.invalid" class="warning">
        This information is required!
      </div>
    </div>
    <div>
      <label>
        Age : <input type="number" formControlName="age" class="fields">
      </label>
      <div *ngIf="controls('age')?.dirty && controls('age')?.invalid" class="warning">
        This information is required!
      </div>
    </div>
    <div>
      <label>
        Password : <input type="password" formControlName="password" class="fields">
      </label>
      <div *ngIf="controls('password')?.dirty && controls('password')?.invalid" class="warning">
        This information is required!
      </div>
    </div> <br/>
    <input type="submit" [disabled]="form.invalid" value="Register" class="btn">
  </form>
</div>

