
<div class="adminBanner">
  <button class="btnAdm"
          routerLink="orderFiltered">
    Filter Order
  </button>

  <button class="btnAdm"
          routerLink="orderDate">
    Order by Date
  </button>

  <button class="btnAdm"
          routerLink="orderCategory">
    Order by Category
  </button>
</div>

<router-outlet></router-outlet>
<!--<app-order-list-category (categoryForFetch)="fetchOrderByCategory($event)" [orders]="ordersCategory" class="order"></app-order-list-category>
<app-order-update-ordercontent (updatePrepared)="updateOrderContent($event)"></app-order-update-ordercontent>-->
