<div class="list" [hidden]="updateEmployeeClick">
  <!-- filtering by surname and lastname -->
  <p>Search an employee</p>
  <input class="fields" type="text" placeholder="surname" [(ngModel)]="surname" (ngModelChange)="nbPage=1; emitPaginationChanged()">
  <input class="fileds" type="text" placeholder="lastname" [(ngModel)]="lastname" (ngModelChange)="nbPage=1; emitPaginationChanged()">
  <!--Select the number of elements by page-->
  <select [(ngModel)]="nbElementsByPage" (ngModelChange)="nbPage=1; emitPaginationChanged()">
    <option [ngValue]="10" >10</option>
    <option [ngValue]="25" >25</option>
    <option [ngValue]="50" >50</option>
  </select>
  <!--List of employees-->
  <div *ngIf="employeesInPage.length; else employeeListEmpty">
    <table>
      <tr>
        <th>Surname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>E-Mail</th>
      </tr>
      <tr *ngFor="let employee of employeesInPage">
        <td (click)="clickUpdateEmployee(employee)">{{employee.surname}}</td>
        <td (click)="clickUpdateEmployee(employee)">{{employee.lastname}}</td>
        <td (click)="clickUpdateEmployee(employee)">{{employee.age}}</td>
        <td (click)="clickUpdateEmployee(employee)">{{employee.email}}</td>
        <td><button (click)="emitDelete(employee)">X</button></td>
      </tr>
    </table>
    <!--Page selector-->
    <div>
      <button *ngFor="let page of createPageNumberRange()" (click)="nbPage=page; emitPaginationChanged()">{{page}}</button>
    </div>
  </div>

  <!-- Will be displayed if employees list is empty-->
  <ng-template #employeeListEmpty>
    <p [hidden]="searchingByName">You don't have any employee. Register a new employee.</p>
    <p [hidden]="!searchingByName">There is no employee matching your search.</p>
  </ng-template>
</div>

<button [hidden]="!updateEmployeeClick" (click)="clickBackToList()" id="btnBackToList">Go back</button>
<app-admin-update-employee [hidden]="!updateEmployeeClick" [id]="idToUpdate" [surname]="surnameToUpdate" [lastname]="lastnameToUpdate" [age]="ageToUpdate"
                          [permission]="permissionToUpdate" (employeeUpdated)="emitUpdate($event)"></app-admin-update-employee>
