<div *ngIf="orderContent.length;else articlesListEmpty" class="container-cart">
  <div class="content">
    <div *ngFor="let article of orderContent;let i = index">
      <div class="container-article">
        <div class="image-article">
          <img [src]="article.article.imagePath">
        </div>
        <div class="name-article">
          {{article.article.nametag}}
        </div>
        <div class="quantity-article">
<!--          <input type="number" value="{{article.quantity}}">-->
          <button class="material-symbols-outlined btn-quantity" (click)="remove(i)">
            remove
          </button>
          <input type="number" [(ngModel)]="quantity[i]">
          <button class="material-symbols-outlined btn-quantity" (click)="add(i)">
            add
          </button>
        </div>
      </div>
    </div>
  </div>
    <button routerLink="user-create-order" class="btn-show-cart">
      Show Cart
    </button>

</div>



<ng-template #articlesListEmpty>
  <p>There is no article inside the shopping cart.</p>
</ng-template>
