<form [formGroup]="form" (ngSubmit)="emitFilter()">
  <div>
    <label>
      Select a date : <input type="date" formControlName="date" class="fields">
    </label>
    <div *ngIf="controls('date')?.dirty && controls('date')?.invalid" class="warning">
      This information is required!
    </div>
    <label>
      Name of the emitter of the order : <input type="text" formControlName="name" class="fields">
    </label>
    <div *ngIf="controls('name')?.dirty && controls('name')?.invalid" class="warning">
      This information is required!
    </div>
  </div>
  <input type="submit" value="Select" class="btn">
</form>


<div *ngIf="orders.length; else orderListEmpty">
  <table border="2">
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Total of the order</th>
      <th>Order content</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.date.slice(0,order.date.search("T"))}}</td>
      <td>{{order.totalOrderPrice}}</td>
      <td>
        <table border="1">
          <tr>
            <th>Article</th>
            <th>Quantity</th>
          </tr>
          <tr *ngFor="let orderContent of order.orderContents">
            <td>
              <table border="1">
                <tr>
                  <th>Id</th>
                  <th>Name tag</th>
                  <th>Price</th>
                  <th>Pricing type</th>
                </tr>
                <tr>
                  <td>{{orderContent.article.id}}</td>
                  <td>{{orderContent.article.nametag}}</td>
                  <td>{{orderContent.article.price}}</td>
                  <td>{{orderContent.article.pricingtype}}</td>
                </tr>
              </table>
            </td>
            <td>{{orderContent.quantity}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</div>

<!-- Will be displayed if employees list is empty-->
<ng-template #orderListEmpty>
  <p>Enter any filter.</p>
</ng-template>
