<div class="list" [hidden]="updateArticleClick">
  <h3>List of articles</h3>
  <!--List of articles-->
  <div *ngIf="articlesInPage.length; else articleListEmpty">
    <table class="tbl">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>In stock</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let article of articlesInPage">
        <td (click)="clickUpdateArticle(article)">{{article.nametag}}</td>
        <td (click)="clickUpdateArticle(article)">{{article.price}}</td>
        <td (click)="clickUpdateArticle(article)">{{article.stock}}</td>
        <td><button (click)="emitDelete(article)">X</button></td>
      </tr>
    </table>
  </div>

  <!-- Will be displayed if articles list is empty-->
  <ng-template #articleListEmpty>
    <p>You don't have any article. Register a new article.</p>
  </ng-template>
</div>

<button [hidden]="!updateArticleClick" (click)="clickBackToList()" id="btnBackToList">Go back</button>
<app-admin-update-article [hidden]="!updateArticleClick" [nametag]="nametagToUpdate" [price]="priceToUpdate" [pricingType]="pricingTypeToUpdate" [stock]="stockToUpdate"></app-admin-update-article>
